<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Sent</title>
</head>
<body>
    <div class="head">
        <h2>Password recovery mail sent</h2>
    </div>
    <div class="main">
        <h4>Please chack your mail inbox for password recover mail <br>
            If recovery mail not showing then don't forget to chack your spam folder</h4>
    </div>
</body>
</html>