<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/btn.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/aboutus.css">
</head>

<body>

    {% include 'nav.html' %}
    {% include 'sidebar.html' %}
    <main>
        <div class="container">
            <div class="left-con">
                <img src="/static/img/asdf.webp" alt="">
            </div>
            <div class="right-con">
                <h1>About Us</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione ad laborum error in dolore sunt non
                    suscipit autem. Debitis et molestias autem, impedit soluta unde omnis distinctio eaque atque
                    officia.</p>
                <a href="#">Read more</a>
                <div class="social-media">
                    <a href="#"><button class="btn f">
                        <i class="fa fa-facebook" style="font-size:35px;"></i>
                    </button></a>
                    <a href="https://www.instagram.com/_dhakad_boy_"><button class="btn i">
                        <i class="fa fa-instagram" style="font-size:35px;"></i>
                    </button></a>
                    <a href="#"><button class="btn t">
                        <i class="fa fa-twitter" style="font-size:35px;"></i>
                    </button></a>
                    <a href="https://www.linkedin.com/in/rkdhakad"><button class="btn l">
                        <i class="fa fa-linkedin" style="font-size:35px;"></i>
                    </button></a>
                </div>
            </div>
    </main>

  
</body>

</html>