{% comment %} input fields for certificate creator {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Certificate</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="user" placeholder="Your Name">
        <input type="text" name="relation" id="" placeholder="Relation">
        <input type="text" name="tagline" placeholder="Write Something">
        <input type="text" name="resever" placeholder="Resever Name">
        <button type="submit">Creat Certificate</button>
    </form>
</body>
</html>