<style>
    footer{
        background: #d1114d;
        box-sizing: border-box;
    }
</style>
<footer>
    <style>
        /* .footer_section,
        .info_section {
            background: #d1114d;
        } */

        .info_section {
            color: #ffffff;
        }

        .info_section p {
            color: #9c9c9c;
        }

        .info_section .info_logo h3 {
            text-transform: uppercase;
            font-weight: bold;
        }

        .info_section h5 {
            margin-bottom: 25px;
            font-size: 24px;
        }

        .info_section .info_contact .img-box {
            width: 35px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .info_section .info_contact p {
            margin: 0;
        }

        .info_section .info_contact a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 20px 0;
        }

        .info_section .info_contact a p {
            color: #9c9c9c;
        }

        .info_section .info_contact a:hover p {
            color: #ffffff;
        }

        .info_section .info_contact a img {
            height: auto;
            margin-right: 12px;
        }

        .info_section .info_links ul {
            padding-left: 15px;
        }

        .info_section .info_links ul li {
            list-style-type: none;
            margin: 5px 0;
        }

        .info_section .info_links ul li a {
            color: #9c9c9c;
            position: relative;
        }

        .info_section .info_links ul li a::before {
            display: none;
            content: "";
            position: absolute;
            left: -15px;
            top: 50%;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: #d8bf36;
        }

        .info_section .info_links ul li a:hover {
            color: #ffffff;
        }

        .info_section .info_links ul li.active a {
            color: #ffffff;
        }

        .info_section .info_links ul li.active a::before {
            display: block;
        }

        .info_section .info_form form {
            margin-top: 20px;
        }

        .info_section .info_form form input {
            border: 1px solid #a6adc4;
            background-color: transparent;
            outline: none;
            width: 100%;
            padding: 7px 10px;
            color: #ffffff;
        }

        .info_section .info_form form input::-webkit-input-placeholder {
            color: #9c9c9c;
        }

        .info_section .info_form form input:-ms-input-placeholder {
            color: #9c9c9c;
        }

        .info_section .info_form form input::-ms-input-placeholder {
            color: #9c9c9c;
        }

        .info_section .info_form form input::placeholder {
            color: #9c9c9c;
        }

        .info_section .info_form form button {
            display: inline-block;
            padding: 8px 30px;
            background-color: #d8bf36;
            color: #ffffff;
            border-radius: 5px;
            margin-top: 15px;
            text-transform: uppercase;
            font-size: 15px;
            border: none;
            width: 100%;
        }

        .info_section .info_form form button:hover {
            background-color: #e0cd61;
        }

        .info_section .info_form .social_box {
            margin-top: 35px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .info_section .info_form .social_box a {
            margin-right: 25px;
        }

        .info_section .row{
            display: flex;
        }
        
        .footer_section {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
        }

        .footer_section p {
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }

        .footer_section a {
            color: #ffffff;
        }

        @media (max-width: 768px) {

            .info_section .row>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 15px;
                text-align: center;
            }

            .info_section .info_form .social_box {
                justify-content: center;
            }
        }
    </style>

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_logo">
                        <h3>
                            Webstore
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor indidunt
                            ut labore et dolore magna
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_links">
                        <h4>
                            BASIC LINKS
                        </h4>
                        <ul class="  ">
                            <li class=" active">
                                <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="">
                                <a class="" href="about.html"> About</a>
                            </li>
                            <li class="">
                                <a class="" href="service.html"> Services </a>
                            </li>
                            <li class="">
                                <a class="" href="#contactLink">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_contact">
                        <h4>
                            CONTACT DETAILS
                        </h4>
                        <a href="">
                            <div class="img-box">
                                <img src="/static/index/images/telephone-white.png" width="12px" alt="">
                            </div>
                            <p>
                                +01 1234567890
                            </p>
                        </a>
                        <a href="">
                            <div class="img-box">
                                <img src="/static/index/images/envelope-white.png" width="18px" alt="">
                            </div>
                            <p>
                                demo@gmail.com
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_form ">
                        <h4>
                            NEWSLETTER
                        </h4>
                        <form action="">
                            <input type="email" placeholder="Enter your email">
                            <button>
                                Subscribe
                            </button>
                        </form>
                        <div class="social_box">
                            <a href="">
                                <img src="/static/index/images/info-fb.png" alt="">
                            </a>
                            <a href="">
                                <img src="/static/index/images/info-twitter.png" alt="">
                            </a>
                            <a href="">
                                <img src="/static/index/images/info-linkedin.png" alt="">
                            </a>
                            <a href="">
                                <img src="/static/index/images/info-youtube.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="#">Tanvi Sharma</a>
            </p>
        </div>
    </section>

</footer>