<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/btn.css">
    <link rel="stylesheet" href="/static/css/shop/products.css">
</head>

<body>
    {% include 'header.html' %}
    <main>
        {% for product in products %}
        <div class="card-container">
            <div class="card">
                <div class="product-img">
                    <img src="{{product.image1.url}}" alt="">
                </div>
                <div class="discription">
                    <p>{{product.description}}</p>
                    <div class="wishlist">
                        <span>₹ {{product.price}}</span>
                        <a href="/shop/addtowishlist/?pid={{product.pk}}"><img {% if product in wishlistproduct %}src="/static/svg/heart.svg"{% else %}src="/static/svg/heart-unliked.svg"{% endif %} class="heart-icon" alt=""></a>
                    </div>
                </div>
                <div class="n-btns">
                    <a class="n-btn cart atc" id="pbtn-{{product.pk}}" href="/shop/addtocart/?pid={{product.pk}}">Add to Cart</a>
                    <a href="/shop/product/{{product.pk}}" class="n-btn">View More</a>
                </div>
            </div>

        </div>
        {% endfor%}
    </main>
    {% include 'toast.html' %}
    {% comment %} {% include 'footer.html' %} {% endcomment %}
    
    <script src="/static/js/jquery.min.js"></script>
</body>

</html>